@page "~/recipes/new"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<div class="is-size-4">Create a new recipe:</div>
<form>
    <partial name="_TextInput" model='new EazeePeazee.Pages.TextInputModel { Label = "Name", Placeholder = "e.g., Roasted Chicken" }' />
    <partial name="_TextAreaInput" model='new EazeePeazee.Pages.TextAreaInputModel { Label = "Instructions", Placeholder = "e.g., Cook at 400 degrees for 30 minutes" }' />
    <div class="is-size-4">Ingredients</div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">1</label>
        </div>
        <div class="field-body">
            <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="e.g., 4 Skinless, Boneless Chicken Breasts">
            </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">2</label>
        </div>
        <div class="field-body">
            <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="e.g., 4 Skinless, Boneless Chicken Breasts">
            </div>
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <p class="control">
            <a class="button is-primary">
            Submit
            </a>
        </p>
        <p class="control">
            <a class="button is-light">
            Cancel
            </a>
        </p>
    </div>
</form>