@page
@model EazeePeazee.Pages.RecipesModel
@{
    Layout = "_Layout";
}
<h1 class="title">
eazee-peazee
</h1>
<p class="subtitle">
Recipes
</p>
<div class="content">
  <ol type="1">
    @foreach (var recipe in Model.Recipes) {
        <li><a href="~/recipes/@recipe.Id">@recipe.Name</a></li>
    }
  </ol>
</div>
