@page "~/recipes/{id}"
@model EazeePeazee.Pages.RecipeModel
@{
    Layout = "_Layout";
}
<h1 class="title">
eazee-peazee
</h1>
<a href="~/recipes">All Recipes</a>
<p class="subtitle">
@Model.Name
</p>
