@model EazeePeazee.Pages.TextInputModel
<div class="field">
    <label class="label">@Model.Label</label>
    <div class="control">
        <input class="input" type="text" placeholder='@Model.Placeholder'>
    </div>
</div>