@model EazeePeazee.Pages.TextAreaInputModel
<div class="field">
    <label class="label">@Model.Label</label>
    <div class="control">
        <textarea class="textarea" placeholder="@Model.Placeholder"></textarea>
    </div>
</div>